<app-header></app-header>

<!--IMÁGEN-->
<br>
<br>

<div class="imagene">
    <img src="/assets/Images/estetica.png">
</div>

<br>

<!--TEXTO-->

<div class="estetica">

    <br>
    
    <p>
        La estética canina es esencial para cuidar y mantener el buen estado de salud, higiene y la apariencia
        estética de nuestras mascotas, además de que nos puede ayudar a detectar a tiempo anomalías o infecciones
        en nuestras mascotas.
        <br> 
        En Veterinaria Small Pets ofrecemos el servicio de estética para tus mascotas a un costo accesible con los 
        cuidados y equipos necesarios para nuestras mascotas.
    </p>

    <br>

    <img src="assets/Images/baño.jpg">
    
    <p>
        Ofrecemos diferentes cortes de pelo canino:
    </p>

    <br>

    <ul>
        <li>Cachorro: Da un aspecto juvenil y fresco. Se aleja del estilo marcado o definido.</li>
        <li>Pasarela: Inspirado en los concursos caninos.Tiene forma de cascada.</li>
        <li>León: El más conocido y extravagante. Se trata de rasurar el pelo y dejar un pompón al final de la cola.</li>
        <li>Cordero: Rasurado completo a excepción de las patas, cola y cara.</li>
        <li>Terry Bear: Busca un acabado redondeado y dulce, similar al de un peluche.</li>
        <li>Princesa: Crea una falda de pelo que llega hasta el suelo.</li>
    </ul>

    <br>
    <br>
    <br>
    
</div>
