<app-header></app-header>
<!--IMÁGEN-->

<div class="imagene">
    <img src="/assets/Images/desparasitar.png">
</div>

<br>

<!--TEXTO-->

<div class="desparasitacion">

    <br>
    
    <p>
        En Veterinaria Small Pets nos destacamos por la salud y bienestar de nuestros clientes, ofreciendo el 
        serivico de desparacitación. Respetando el protocolo para la aplicación de desparasitación para perros
        y gatos.
        <br>
        La desparasitación es muy importante para nuestras mascotas, ya que evitamos los problemas gastrointestinales
        como lo es la diarrea, perdida de peso o incluso vómitos.
        <br>
        Es importante desparasitar a nuestras mascotas para evitar la propagación de estas hacia humanos y demás
        animales que convivan día a día con nosotros.
    </p>

    <br>
    
    <div class="sintomasp">
        <h3>{{mascota}}</h3>
    </div>

    <br>

    <ul>
        <li>Vómito</li>
        <li>Diarrea</li>
        <li>Hinchazón abdominal</li>
        <li>Sangre en las heces</li>
        <li>Estreñimiento</li>
        <li>Problemas respiratorios y fatiga</li>
    </ul>

    <br>
    
    <div class="calendario">
        <h3>{{calendario}}</h3>
    </div>

    <div class="imagenp">
        <img src="/assets/Images/despp.png">
    </div>

    <div class="imageng">
        <img src="/assets/Images/desgg.png">
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>


