<app-header></app-header>

<br>
<br>

<div class="logo">
  <img src="/assets/Images/logobien.png">
</div>

<div class="paragraph">

  <p>Veterinaria Small Pet, es una empresa pequeña mexicana, ubicada en las direccion, 
    en el estado de Chihuahua, Chih; dedicada a la atención y cuidado de los perros y 
    gatos con amor y cariño. 
  </p>
  <p>
    Ofreciendo sus servicios con precios accesibles, además de tener el medicamento necesario para 
    cualquier animal, vacunas, esterilización con cita previa para su revisión y servicio de estética canina.
  </p>
  <p>
    La Veterinaria Small Pet, cuenta con dos años de experiencia en la atención y cuidado de los 
    animales, personal atentamente capacitado, atención rápida, venta de diferentes productos para el 
    cuidado de los animales, vacunas, esterilizaciones y con un ambiente tranquilo y limpio.
  </p>
  <p>
    La pandemia por el virus COVID-19, ha provocado que muchos negocios cierren definitivamente, 
    pero, Veterinaria Small Pet se reconoce por ofrecer un servicio completo y seguir el protocolo de 
    COVID-19. 
  </p>
</div>

<!--Aquí irá la api de maps-->