.imagen img {
    margin-left: 300px;
    width: 800px;
    
}

.vac-perro{
    font-family:sans-serif;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.82);
}

.vac-perro .calendariop img{
    height: 350px;
    
}

.vac-gato{
    font-family:sans-serif;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.82);
}

.vac-gato .calendariog img{
    height: 500px; 
}