<app-header></app-header>

<!--IMÁGEN-->
<br>
<br>

<div class="imagen">
    <img src="/assets/Images/vacunas.png">
</div>

<!--TEXTO-->

<div class="vac-perro">
    
    <div class="perro">
        <h3>{{perro}}</h3>
    </div>

    <p>
        Tener una mascota implica una responsabilidad muy grande e importante, ya que estará con nosotros
        por más de 15 años. Es por ello que debemos de vacunar a nuestro compañero de vida para protegerlo
        de todas las enfermedades, bacterias y virus altamente contagiosos y peligrosos.
    </p>
    <p>
        Las vacunas que debemos de ponerle a los perros y que son obligatorias para su salud son:
    </p>

    <ul>
        <li>El moquillo canino</li>
        <li>Hepatitis canina crónica</li>
        <li>Parvovirus</li>
        <li>Leptospirosis</li>
        <li>La rabia</li>
    </ul>

    <div class="calendariop">
        <img src="assets/Images/calendario-perros.png">
    </div>
</div>

<br>
<br>

<div class="vac-gato">

    <div class="gato">
        <h3>{{gato}}</h3>
    </div>

    <p>
        Al igual que los perros, los gatos también son miembros muy importantes para la familia, ya que ellos
        nos demuestran su amor de muchas formas. Con las vacunas que se le inyectan patógenos que no provocan 
        enfermedades, siendo así que nuestro felino desarrolla anticuerpos que impiden la infección de enfermedades.
    </p>
    <p>
        Las vacunas que debemos de ponerle a los gatos y que son obligatorias para su salud son:
    </p>

    <ul>
        <li>El moquillo </li>
        <li>Gripe felina</li>
        <li>Leucemia felina</li>
        <li>Peritonitis infecciosa felina</li>
        <li>Rabia</li>
    </ul>

    <div class="calendariog">
        <img src="assets/Images/calendario-gatos.png">
    </div>
</div>
