<app-header></app-header>

<!--IMÁGEN-->

<div class="imagenq">
    <img src="/assets/Images/quirofano.png">
</div>

<!--TEXTO-->

<div class="quirofano">

    <br>
    
    <p>
        En Veterinaria Small Pets, cada día desarrollamos intervenciones quirúrgicas. Teniendo 
        protocolos y pautas que impidan la llegada de microogranismos y gérmenes patógenos a la zona 
        a intervenir y evitar así su contaminación.
    </p>

    <br>
        
    <p>
        Antes de cada cirurgía, preparamos todo los materiales con lo establecido en el protocolo, además de 
        cuidar cada detalle para que las cirurgías sean todo un éxito. 
        <br>
        Seguimos diferentes pasos y técnicas para garantizar el buen desarrollo de cada intervención.
    </p>

    <br>

    <div class="imagenqui">
        <img src="/assets/Images/quirofanop.jpg">
    </div>

    <br>
    <br>

    <ul>
        <li>Preparación del material e instrumental.</li>
        <li>Desinfección y esterilidad del personal quirúrgico.</li>
        <li>Preparación del campo quirúrgico.</li>
    </ul>

    <br>
    <br>
    <br>
    
</div>
